<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.umontreal.iro.guidedesmedicaments" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".DrugsActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrugsActivity"
            android:label="@string/title_activity_drugs"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".DrugActivity"
            android:label="@string/title_activity_drug" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".DrugsActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="rxnav.nlm.nih.gov"
                    android:pathPrefix="/REST/rxcui/"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.DisplayTermsProvider"
            android:authorities="ca.umontreal.iro.guidedesmedicaments.provider.DisplayTermsProvider" />

    </application>

</manifest>
